<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="ImageToolbar" content="false">
    <meta name="description"
        content="ایمن پال یک سیستم درگاه پرداخت شخصی است. بهترین، راحت ترین و امن ترین راه برای دریافت پول.">
    <meta name="keywords"
        content="ایمن پال, ایمن پال, درگاه پرداخت, درگاه شخصی, درگاه پرداخت شخصی, پرداخت الکترونیک, انتقال وجه, پرداخت آسان">
    <link rel="canonical" href="index.htm">
    <link rel="shortlink" href="index.htm">
    <meta http-equiv="content-language" content="fa">
    <meta property="og:site_name" content="IDPay">
    <meta property="og:url" content="/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="IDPay">
    <meta property="og:description"
        content="ایمن پال یک سیستم درگاه پرداخت شخصی است. بهترین، راحت ترین و امن ترین راه برای دریافت پول.">
    <meta property="og:image" content="https://static.idpay.ir/icons/icon-180.png">
    <meta property="og:image:url" content="https://static.idpay.ir/icons/icon-180.png">
    <meta property="og:image:secure_url" content="https://static.idpay.ir/icons/icon-180.png">
    <link rel="shortcut icon" href="https://static.idpay.ir/icons/favicon.ico">
    <link rel="icon" href="https://static.idpay.ir/icons/icon-16.png" sizes="16x16">
    <link rel="icon" href="https://static.idpay.ir/icons/icon-32.png" sizes="32x32">
    <link rel="icon" href="https://static.idpay.ir/icons/icon-96.png" sizes="96x96">
    <link rel="icon" href="https://static.idpay.ir/icons/icon-192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://static.idpay.ir/icons/icon-60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="https://static.idpay.ir/icons/icon-72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="https://static.idpay.ir/icons/icon-76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="https://static.idpay.ir/icons/icon-114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="https://static.idpay.ir/icons/icon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="https://static.idpay.ir/icons/icon-144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="https://static.idpay.ir/icons/icon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="https://static.idpay.ir/icons/icon-180.png" sizes="180x180">
    <link rel="apple-touch-icon-precomposed" href="https://static.idpay.ir/icons/icon-57.png" sizes="57x57">
    <link rel="apple-touch-icon-precomposed" href="https://static.idpay.ir/icons/icon-72.png" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="https://static.idpay.ir/icons/icon-76.png" sizes="76x76">
    <link rel="apple-touch-icon-precomposed" href="https://static.idpay.ir/icons/icon-114.png" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="https://static.idpay.ir/icons/icon-120.png" sizes="120x120">
    <link rel="apple-touch-icon-precomposed" href="https://static.idpay.ir/icons/icon-144.png" sizes="144x144">
    <link rel="apple-touch-icon-precomposed" href="https://static.idpay.ir/icons/icon-152.png" sizes="152x152">
    <link rel="apple-touch-icon-precomposed" href="https://static.idpay.ir/icons/icon-180.png" sizes="180x180">
    <title>ImenPal | ایمن پال</title>
    <link rel="stylesheet" href="~/HomePageWeb/assets/css/zidpay.css">
    <link rel="stylesheet" href="~/HomePageWeb/assets/css/Search.css">


    <style>
        .crisp-client {
            display: none;
        }

        < !-----line---->.vll {
            border-left: 6px solid green;
            height: 500px;
            background-color: #9a0a0a;
        }

        < !-----line---->< !----text animat------>.ml14 {
            font-weight: 200;
            font-size: 3.2em;
        }

        .ml14 .text-wrapper {
            position: relative;
            @*display: inline-block;
            *@padding-top: 0.1em;
            padding-right: 0.05em;
            padding-bottom: 0.15em;
        }

        .ml14 .line {
            opacity: 0;
            position: absolute;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #fff;
            transform-origin: 100% 100%;
            bottom: 0;
        }

        .ml14 .letter {
            @*display: inline-block;
            *@line-height: 1em;
        }
    </style>
</head>

<body class="html front page-node page-home lang-fa page-wide"><noscript><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-TP2B9W9" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <div role="document" class="page">
        <header role="banner" class="l-header">
            <div class="contain-to-grid clearfix">
                <nav class="top-bar" data-topbar="" data-options="custom_back_text:false; mobile_show_parent_link:true">



                    <ul class="title-area left">
                        <li class=" show-for-medium-up hidden-for-medium"><a href="/#" rel="home">
                                <input type="text" name="جستجو در ایمن پال" placeholder="جستجو در ایمن پال">
                            </a></li>
                        <li class="name hide"><a href="/#" rel="home" title="ImenPal خانه" class="active">ImenPal</a>
                        </li>
                    </ul>



                    <ul class="title-area left">
                        <li style="margin-top: 20px; margin-left: 15px;" class=" show-for-medium-down "><a href="/#"
                                rel="home">
                                <input type="text" name="جستجو در ایمن پال" placeholder="جستجو در ایمن پال">
                            </a></li>
                        <li class="name hide"><a href="/#" rel="home" title="ImenPal خانه" class="active">ImenPal</a>
                        </li>
                    </ul>





                    <ul>
                        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                    </ul>

                    <ul class="head-login hidden-for-large-up">
                        <li><a href="user/auth.html">ورود</a></li>
                    </ul>

                    <section class="top-bar-section right">
                        @* <ul id="secondary-menu" class="secondary link-list left">
                            <li class="login first"><a href="user/auth.html">ورود</a></li>
                            <li class="register last"><a href="user/auth.html">ثبت نام</a></li>
                        </ul> *@
                        <ul id="main-menu" class="main-nav right ">
                            <li class="first leaf"><a href="/#" class="active">خانه</a></li>
                            <li class="leaf"><a href="/#">ایمن پال چیست؟</a></li>
                            <li class="leaf"><a href="/#">پرسش های متداول</a></li>
                            <li class="leaf"><a href="/#">راهنمای API پرداخت</a></li>
                            <li class="last leaf"><a href="/#">تماس با ما</a></li>
                        </ul>
                    </section>

                </nav>
            </div>
            <div class="panel-flexible panels-flexible-2 clearfix">
                <div class="panel-flexible-inside panels-flexible-2-inside">
                    <div
                        class="panels-flexible-region panels-flexible-region-2-center panels-flexible-region-first panels-flexible-region-last">
                        <div
                            class="inside panels-flexible-region-inside panels-flexible-region-2-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                        </div>
                    </div>
                </div>
            </div>



            <div class="create">
                <div class="row">

                    <div class=" columns medium-6  ">
                        <div class="card row ">
                            <div style="text-align: Right;">
                                <h1 class="ml14">
                                    <span class="text-wrapper">
                                        <span style="font-family: IRANSans;font-weight: bold;color: fff;"
                                            class="letters"> به
                                            ایمن پال خوش آمدید</span>
                                        <span class="line"></span>
                                    </span>
                                </h1>
                            </div>
                            <br>


                            <h2 class="title">آیدی پی خود را رایگان بسازید</h2>

                            <h3 class="sub-title">درگاه پرداخت شخصی و کارت خوان مجازی خودتان را داشته باشید</h3>
                            <br>
                            <br>
                            <br>

                            <a href="/#" class="button round">ثبت نام در ایمن پال <span
                                    class="icon-backspace"></span></a> <a href="/#" class="button round shop-maker">ورود
                                <span class="icon-backspace"></span></a>

                        </div>
                    </div>

                    <div class="columns medium-6 show-for-medium-up ">
                        <div class="card row ">
                            <div style="text-align: left;">
                                <img src="~/HomePageWeb/assets/Img/Broken_Glass.png">
                                <div class="card-content text-left row centered"><span
                                        class="domain">imenpal.com/</span> <span class="text"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!----
                    <div class="card-container columns medium-6 show-for-medium-up">
                        <div class="card row ">

                            @*
                                                <div class="card-head row">
                                                <div class="columns small-6"><img class="img-logo" typeof="foaf:Image"
                                                src="~/HomePageWeb/assets/Img/Logo2.png" alt="ImenPal card logo">
                                                </div>
                                                <div class="columns small-6 text-left"><img
                                                src="https://static.idpay.ir/images/card-shetab.png" class="img-shetab"
                                                alt="ImenPal - shetab"></div>
                                                </div> *@
                            @* <div style="text-align: left;" class="card row ">
                                                <img src="~/HomePageWeb/assets/Img/Broken_Glass.png">
                                                <div class="card-content text-left row centered"><span
                                                class="domain">imenpal.com/</span> <span class="text"></span>
                                                </div>
                                                </div> *@

                            @* <div class="card-content text-Right row"><span class="domain"> imenpal.com/</span> <span
                                                class="text"></span>
                                                </div> *@

                            @* <div class="card- row">
                                                <div class="columns small-6">۳۵۳۴۲۱</div>
                                                <div class="columns small-6 text-left">۱۱/۰۴</div>
                                                </div> *@


                        </div>
                    </div>
----->

                </div>
            </div>
        </header>
        <div class="desc">
            <div class="row" data-equalizer="">


                <div class="columns small-12 medium-5 text-container text-Right" data-equalizer-watch="">
                    <h3 class="text-titr-k"><span style="font-size: 30px;">💳</span> مزایای استفاده از ایمن پال برای
                        خریداران </h3><span></span>
                    <div class="sub-title">با ایمن پال همیشه و همه جا به راحتی و تا سقف ۵۰ میلیون تومان پول پرداخت کنید
                    </div>
                    <div class="text"><span>حساب خود در هر بانکی را تبدیل به ایمن پال کنید</span><br><span>و برای دریافت
                            پول به جای شماره کارت یا شماره شبا</span><br><span>ایمن پال خود را به دیگران بدهید،
                            مثلا:</span><br><br><a href="/ali2021" target="_blank"><span>imenpal.com/ali2021</span></a>
                    </div>
                    <div class="more-link"><a href="faq.html"><span class="icon-arrow-right"></span> اطلاعات بیشتر</a>
                    </div>
                </div>


                <div class="columns small-12 medium-2 text-container " data-equalizer-watch="">
                    <div class="show-for-medium-up"
                        style="border-right: 2px solid #8c8c8c;margin-right: 70px; height: 270px"></div>
                </div>


                <div class="columns small-12 medium-5 text-container text-Right" data-equalizer-watch="">
                    <h3 class="text-titr-k"><span style="font-size: 30px;">🛍️</span> مزایای استفاده از ایمن پال برای
                        فروشگاه و فروشنده ها </h3><span></span>
                    <div class="sub-title">با ایمن پال همیشه و همه جا به راحتی و تا سقف ۵۰ میلیون تومان پول پرداخت کنید
                    </div>
                    <div class="text"><span>حساب خود در هر بانکی را تبدیل به ایمن پال کنید</span><br><span>و برای دریافت
                            پول به جای شماره کارت یا شماره شبا</span><br><span>ایمن پال خود را به دیگران بدهید،
                            مثلا:</span><br><br><a href="/ali2021" target="_blank"><span>imenpal.com/ali2021</span></a>
                    </div>
                    <div class="more-link"><a href="faq.html"><span class="icon-arrow-right"></span> اطلاعات بیشتر</a>
                    </div>
                </div>


            </div>
        </div>
        <div class="app-download">
            <div class="row">
                <div class="columns text-center">
                    <div class="title">⬇️ برای دریافت اپلیکیشن موبایل ایمن پال بروی دکمه زیر کلیک نمایید ⬇️</div>
                </div>
            </div>


            <div class="row">
                <div class="columns text-center">
                    <a href="/#"> <img src="~/HomePageWeb/assets/Img/badge-Android.png" alt="دریافت از مایکت"></a>
                </div>
            </div>


            @* <div class="row text-center">

                <div class="columns medium-2 text-center medium-offset-1"><a class="app-download-link" href="/#"><img
                            src="https://static.idpay.ir/images/badge-google-play.png" alt="دریافت از Google Play"></a>
                </div>

                <div class="columns medium-2 text-center"><a class="app-download-link" href="/#"><img
                            src="https://static.idpay.ir/images/badge-cafebazaar.png" alt="دریافت از کافه بازار"></a>
                </div>


                <div class="columns medium-4 text-center"><a href="/#"><img style="height: 52; width: 150;"
                            src="~/HomePageWeb/assets/Img/badge-Android.png" alt="دریافت از مایکت"></a>
                </div>


                <div class="columns medium-2 text-center"><a class="app-download-link" href="/#"><img
                            src="https://static.idpay.ir/images/badge-sibapp.png" alt="دریافت از سیب اپ"></a>
                </div>


                <div class="columns medium-2 text-center end"><a class="app-download-link" href="/#"><img
                            src="https://static.idpay.ir/images/badge-iapps.png" alt="دریافت از آی اپس"></a>
                </div>


            </div> *@
        </div>

        @*
        <div class="easy">
            <div class="row">

                <div class="columns">
                    <h3 class="text-center title">آسان در 3 شماره درگاه پرداخت شخصی تان را ایجاد کنید!</h3>
                    <div class="text-center sub-title">ایمن پال خودتان را بسازید</div>
                </div>
                <div class="line show-for-medium-up"></div>


                <div class="columns medium-4 text-center">
                    <div class="box-icon"><span class="icon-person-add"></span> <span
                            class="arrow icon-arrow-left show-for-medium-up"></span></div>
                    <h3 class="box-title">۱. ثبت نام در سایت</h3>
                    <p class="box-text">بر روی دکمه نارنجی <a href="/#" target="_blank">ثبت نام و ساخت
                            درگاه</a> در بالای صفحه، کلیک کنید. پس از وارد کردن شماره موبایل با شما تماس گرفته شده و کد
                        تایید به برای شما ارسال می شود.</p>
                </div>


                <div class="columns medium-4 text-center">
                    <div class="box-icon"><span class="icon-credit-card"></span> <span
                            class="arrow icon-arrow-left show-for-medium-up"></span></div>
                    <h3 class="box-title">۲. ساخت حساب و درگاه</h3>
                    <p class="box-text">بعد از تایید شماره موبایلتان، اطلاعات فردی خود را کامل نموده و با وارد کردن
                        شماره شبا و شماره حسابتان ثبت نام خود را تکمیل نمایید.</p>
                </div>


                <div class="columns medium-4 text-center">
                    <div class="box-icon"><span class="idpay">ImenPal</span></div>
                    <h3 class="box-title">۳. ارسال لینک به دیگران</h3>
                    <p class="box-text">حالا درگاه پرداخت شخصی شما آماده است و با ارسال لینک ایمن پال خود به دیگران
                        میتوانید پول دریافت کنید :)</p>
                </div>


            </div>
        </div>
        *@





















        <div class="what">
            <div class="row">

                <div class="columns medium-4 image-container text-right">
                    <img src="~/HomePageWeb/assets/Img/front-Post.png" alt="صفحه درگاه شخصی ایمن پال">
                    <h3 class="text-titr-k"><span></span> مزایای استفاده از ایمن پال برای
                        خریداران </h3><span></span>
                    <br>
                    <div class="sub-title "> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="sub-title"> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="sub-title"> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="sub-title"> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="more-link text-left"><a href="faq.html"><span class="icon-arrow-right"></span> اطلاعات
                            بیشتر</a>
                    </div>
                </div>

                <div class="columns medium-4 image-container">
                    <img src="~/HomePageWeb/assets/Img/front-Post.png" alt="صفحه درگاه شخصی ایمن پال">
                    <h3 class="text-titr-k"><span></span> مزایای استفاده از ایمن پال برای
                        خریداران </h3><span></span>

                    <br>

                    <div class="sub-title "> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="sub-title"> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="sub-title"> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="sub-title"> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="more-link text-left"><a href="faq.html"><span class="icon-arrow-right"></span> اطلاعات
                            بیشتر</a>
                    </div>
                </div>



                <div class="columns medium-4 image-container">
                    <img src="~/HomePageWeb/assets/Img/front-Post.png" alt="صفحه درگاه شخصی ایمن پال">
                    <h3 class="text-titr-k"><span></span> مزایای استفاده از ایمن پال برای
                        خریداران </h3><span></span>

                    <br>

                    <div class="sub-title "> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="sub-title"> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="sub-title"> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="sub-title"> <span style="font-size: 10px;">⚫</span> با ایمن پال همیشه و همه جا به راحتی
                        و تا سقف
                    </div>
                    <div class="more-link text-left"><a href="faq.html"><span class="icon-arrow-right"></span> اطلاعات
                            بیشتر</a>
                    </div>
                </div>

            </div>
        </div>


















        <div class="what">

            <div class="row">

                <div class="columns medium-12">
                    <h3 style="color: black;" class="title">با ایمن پال ایمن پرداخت کنید </h3>
                    <div class="text"><span>ایمن پال [ پ ِ ] یک سیستم</span>
                        <h1>درگاه پرداخت شخصی و کارت خوان مجازی</h1><span>است.</span>
                        <p>بهترین و راحت ترین راه جهت دریافت پول، مناسب برای شرکت ها، نمایندگی های بیمه، صندوق های وام
                            خانگی، مدیران ساختمان، کترینگ ها، فروشندگان کالا و خدمات.</p>
                        <p>شما با ایجاد یک <a href="/#">حساب کاربری</a> در ایمن پال و داشتن یک <strong>صفحه پرداخت
                                شخصی با آدرس منحصر به فرد</strong>، از این به بعد می‌توانید برای مشتریانتان یک لینک
                            ارسال نمایید که مشتری با کلیک بر روی آن به صفحه فروشگاه شما هدایت شده و بعد از پرداخت، وجه
                            به حساب شما واریز و <strong>پیامکی</strong> برای طرفین ارسال می‌شود.</p>
                        <p>مثلا من در هنگام <a href="/#">ثبت نام</a> در سایت <a href="/#">imenpal.com</a> نام کاربری
                            ali2021 را برای خودم انتخاب می‌کنم.</p>
                        <p>حالا من دارای یک درگاه پرداخت شخصی به آدرس <a href="/#">imenpal.com/ali2021</a> و
                            یک فروشگاه الکترونیک به آدرس <a href="/#">imenpal.com/ali2021/shop</a> هستم
                            که هر کسی با وارد شدن به این صفحه می‌تواند هر مبلغ دلخواه را به من پرداخت کند. به همین راحتی
                            !!!</p>
                        <p>درصورت داشتن هرگونه سوال به صفحه <a href="/#">پرسش های متداول</a> مراجعه کنید و یا برای
                            مشاوره رایگان با ما تماس حاصل فرمایید.</p>
                    </div>
                </div>


                <div class="columns medium-6">
                    <h3 style="color: black;">ایمن پال چیست؟</h3>
                    <div class="text"><span>ایمن پال [ پ ِ ] یک سیستم</span>
                        <h1>درگاه پرداخت شخصی و کارت خوان مجازی</h1><span>است.</span>
                        <p>بهترین و راحت ترین راه جهت دریافت پول، مناسب برای شرکت ها، نمایندگی های بیمه، صندوق های وام
                            خانگی، مدیران ساختمان، کترینگ ها، فروشندگان کالا و خدمات.</p>
                        <p>شما با ایجاد یک <a href="/#">حساب کاربری</a> در ایمن پال و داشتن یک <strong>صفحه پرداخت
                                شخصی با آدرس منحصر به فرد</strong>، از این به بعد می‌توانید برای مشتریانتان یک لینک
                            ارسال نمایید که مشتری با کلیک بر روی آن به صفحه فروشگاه شما هدایت شده و بعد از پرداخت، وجه
                            به حساب شما واریز و <strong>پیامکی</strong> برای طرفین ارسال می‌شود.</p>
                        <p>مثلا من در هنگام <a href="/#">ثبت نام</a> در سایت <a href="/#">imenpal.com</a> نام کاربری
                            ali2021 را برای خودم انتخاب می‌کنم.</p>
                        <p>حالا من دارای یک درگاه پرداخت شخصی به آدرس <a href="/#">imenpal.com/ali2021</a> و
                            یک فروشگاه الکترونیک به آدرس <a href="/#">imenpal.com/ali2021/shop</a> هستم
                            که هر کسی با وارد شدن به این صفحه می‌تواند هر مبلغ دلخواه را به من پرداخت کند. به همین راحتی
                            !!!</p>
                        <p>درصورت داشتن هرگونه سوال به صفحه <a href="/#">پرسش های متداول</a> مراجعه کنید و یا برای
                            مشاوره رایگان با ما تماس حاصل فرمایید.</p>
                    </div>
                </div>



                <div class="columns medium-6 image-container">
                    <img src="~/HomePageWeb/assets/Img/front-what.png" alt="صفحه درگاه شخصی ایمن پال">
                </div>

            </div>






        </div>
        <div class="feature">
            <div class="row" data-equalizer="">
                <div class="columns">
                    <h3 class="text-center title">مزایا و امکانات ایمن پال</h3>
                    <div class="text-center sub-title">وقتی از ایمن پال استفاده میکنید ...</div>
                </div>
                <div class="columns medium-4" data-equalizer-watch="">
                    <div class="text-center">
                        <div class="box-icon"><span class="icon-transform"></span></div>
                        <h4 class="box-title">تبدیل شماره کارت یا شبا به آیدی</h4>
                        <p class="box-text">شماره کارت، شماره حساب و شماره شبا حساب بانکی تان را در هر بانکی تبدیل به یک
                            آیدی کوتاه کنید. مثلا <a href="/#">imenpal.com/ali2021</a></p>
                    </div>
                    <div class="text-center">
                        <div class="box-icon"><span class="icon-transit"></span></div>
                        <h4 class="box-title">جابه جایی وجه تا 50 میلیون تومان</h4>
                        <p class="box-text">در صوت تایید مدارک و احراز هویت، شما میتوانید در هر تراکنش تا 50 میلیون
                            تومان پول دریافت کنید.</p>
                    </div>
                </div>
                <div class="columns medium-4 show-for-medium-up text-center" data-equalizer-watch=""><img
                        src="~/HomePageWeb/assets/Img/front-feature.png" alt="صفحه داشبورد ایمن پال"></div>
                <div class="columns medium-4" data-equalizer-watch="">
                    <div class="text-center">
                        <div class="box-icon"><span class="icon-add_shopping_cart"></span></div>
                        <h4 class="box-title">ساخت فروشگاه کالا و فایل</h4>
                        <p class="box-text">با استفاده از ایمن پال فروشگاه الکترونیک خود را بسازید و برای هر آیتم لینک
                            مستقیم پرداخت کالا یا فایل ایجاد کنید. مثلا: <a href="/#">imenpal.com/ali2021/shop</a></p>
                    </div>
                    <div class="text-center">
                        <div class="box-icon"><span class="icon-link"></span></div>
                        <h4 class="box-title">ساخت لینک پرداخت</h4>
                        <p class="box-text">میتوانید یک لینک با قابلیت پرداخت با مبلغ دلخواه بسازید. مثلا: <a
                                href="/#">imenpal.com/ali2021/10000</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="app">
            <div class="row">
                <div class="columns">
                    <h3 class="text-center title">اپلیکیشن موبایل ایمن پال</h3>
                    <div class="text-center sub-title">اپ موبایل ایمن پال راحت ترین راه برای دریافت و پرداخت پول</div>
                </div>
            </div>
            <div class="row">
                <div class="columns medium-2 text-center medium-offset-1"><a class="app-download-link" href="/#"><img
                            src="https://static.idpay.ir/images/badge-google-play.png" alt="دریافت از Google Play"></a>
                </div>
                <div class="columns medium-2 text-center"><a class="app-download-link" href="/#"><img
                            src="https://static.idpay.ir/images/badge-cafebazaar.png" alt="دریافت از کافه بازار"></a>
                </div>
                <div class="columns medium-2 text-center"><a class="app-download-link" href="/#"><img
                            src="https://static.idpay.ir/images/badge-myket.png" alt="دریافت از مایکت"></a></div>
                <div class="columns medium-2 text-center"><a class="app-download-link" href="/#"><img
                            src="https://static.idpay.ir/images/badge-sibapp.png" alt="دریافت از سیب اپ"></a></div>
                <div class="columns medium-2 text-center end"><a class="app-download-link" href="/#"><img
                            src="https://static.idpay.ir/images/badge-iapps.png" alt="دریافت از آی اپس"></a></div>
            </div>
        </div>
        <footer class="l-footer clearfix" role="contentinfo">

            <div class="row footer">

                
                





                <div class="columns medium-6">

                

                 
                    <section class="block block-menu columns medium-6 block-menu-menu-footer-1">
                            <ul class="menu">
                                <li class="first leaf"><a href="index.htm" class="active">صفحه اصلی</a></li>
                                <li class="leaf"><a href="terms.html">قوانین و شرایط استفاده</a></li>
                                <li class="leaf"><a href="privacy.html">حریم خصوصی</a></li>
                                <li class="leaf"><a href="about.html">درباره ما</a></li>
                                <li class="leaf"><a href="contact.html">تماس با ما</a></li>
                                <li class="last leaf"><a href="faq.html">پرسش های متداول</a></li>
                                                                <li class="last leaf"><a href="faq.html">پرسش های متداول</a></li>

                                <li class="last leaf"><a href="faq.html">پرسش های متداول</a></li>

                            </ul>

                    </section>

                    <section class="block block-menu columns medium-6 block-menu-menu-footer-2">
                            <ul class="menu">
                                <li class="first leaf"><a href="https://blog.imenpal.com">بلاگ</a></li>
                                <li class="leaf"><a href="what.html">ایمن پال چیست؟</a></li>
                                <li class="leaf"><a href="banks.html">دریافت شماره شبا</a></li>
                                <li class="leaf"><a href="/web-service">راهنمای API پرداخت</a></li>
                                <li class="leaf"><a href="plugins.html">پلاگین و افزونه های پرداخت</a></li>
                                <li class="last leaf"><a href="app.html">دانلود اپلیکیشن</a></li>
                                                                <li class="last leaf"><a href="faq.html">پرسش های متداول</a></li>

                                <li class="last leaf"><a href="faq.html">پرسش های متداول</a></li>

                            </ul>
                    </section>


                                     
                    <div class="row ">
                        <div class="columns small-6 medium-2"><img 
                        style="height: 30px; width: 30px;"  src="~/HomePageWeb/assets/Img/Twtter.png"
                                title="Twtter" alt="Twtter">
                        </div>


                        <div class="columns small-6 medium-2"><img 
                        style="height: 30px; width: 30px;"  src="~/HomePageWeb/assets/Img/Telegram.png"
                                title="Telegram"
                                alt="Telegram">
                                </div>



                        <div class="columns small-6 medium-2"><img 
                        style="height: 30px; width: 30px;"  src="~/HomePageWeb/assets/Img/Instagram.png"
                                title="Instagram"
                                alt="Instagram">
                                </div>


                        <div class="columns small-6 medium-2"><img 
                        style="height: 30px; width: 30px;"  src="~/HomePageWeb/assets/Img/Linkdin.png"
                                title="Linkdin" alt="Linkdin">
                        </div>

                          <div class="columns small-6 medium-2"><img 
                        style="height: 30px; width: 30px;"  src="~/HomePageWeb/assets/Img/Aparat.png"
                                title="Aparat" alt="Aparat">
                        </div>


                          <div class="columns small-6 medium-2"><img 
                        style="height: 30px; width: 30px;"  src="~/HomePageWeb/assets/Img/Linkdin.png"
                                title="Linkdin" alt="Linkdin">
                        </div>

                    </div>

                    <br>
                    <br>

                        <p style="text-align: center;"> ما را در شبکه های مجازی دنبال کنید</p>





                </div>





             



                <div class="columns medium-6">

                    <div class="logo-footer text-center"><a href="index.htm" rel="home"><img class="logo"
                                typeof="foaf:Image" src="~/HomePageWeb/assets/Img/Logo3.png"
                                alt="ImenPal footer logo"></a>
                    </div>

                    <div class="row co-worker">
                        <div class="columns small-6 medium-3"><img data-tooltip="" aria-haspopup="true"
                                data-options="disable_for_touch:true" class="has-tip"
                                src="https://static.idpay.ir/images/gateway-logo-sadad.png"
                                title="همکاری با شرکت پرداخت الکترونیک سداد" alt="همکاری با شرکت پرداخت الکترونیک سداد">
                        </div>
                        <div class="columns small-6 medium-3"><img data-tooltip="" aria-haspopup="true"
                                data-options="disable_for_touch:true" class="has-tip"
                                src="https://static.idpay.ir/images/gateway-logo-saman.svg"
                                title="همکاری با شرکت پرداخت الکترونیک سامان کیش"
                                alt="همکاری با شرکت پرداخت الکترونیک سامان کیش"></div>
                        <div class="columns small-6 medium-3"><img data-tooltip="" aria-haspopup="true"
                                data-options="disable_for_touch:true" class="has-tip"
                                src="https://static.idpay.ir/images/gateway-logo-pecco.svg"
                                title="همکاری با شرکت تجارت الکترونیک پارسیان"
                                alt="همکاری با شرکت تجارت الکترونیک پارسیان"></div>
                        <div class="columns small-6 medium-3"><img data-tooltip="" aria-haspopup="true"
                                data-options="disable_for_touch:true" class="has-tip"
                                src="https://static.idpay.ir/images/gateway-logo-behpardakht.svg"
                                title="همکاری با شرکت به پرداخت ملت" alt="همکاری با شرکت به پرداخت ملت">
                        </div>
                    </div>





                    
                    <div class="row columns ">
                        <div style="height: 175px; width: 120px;" class="columns small-6 medium-4"><img
                                src="~/HomePageWeb/assets/Img/Nemad-Ele.png"
                                title="همکاری با شرکت پرداخت الکترونیک سداد" 
                                alt="همکاری با شرکت پرداخت الکترونیک سداد">
                        </div>
                       
                       
                        <div style="height: 175px; width: 120px;" class="columns small-6 medium-4"><img
                                src="~/HomePageWeb/assets/Img/Nemad-Ele.png"
                                title="همکاری با شرکت پرداخت الکترونیک سامان کیش"
                                alt="همکاری با شرکت پرداخت الکترونیک سامان کیش"></div>
                      
                      
                        <div style="height: 175px; width: 120px;" class="columns small-6 medium-4"><img 
                                src="~/HomePageWeb/assets/Img/Neshan-Meli.png"
                                title="همکاری با شرکت تجارت الکترونیک پارسیان"
                                alt="همکاری با شرکت تجارت الکترونیک پارسیان"></div>
                        
                    </div>







                </div>





























                @*


                <div class="columns medium-8">

                    <div class="row co-worker">
                        <div class="columns small-6 medium-3"><img data-tooltip="" aria-haspopup="true"
                                data-options="disable_for_touch:true" class="has-tip"
                                src="https://static.idpay.ir/images/gateway-logo-sadad.png"
                                title="همکاری با شرکت پرداخت الکترونیک سداد" alt="همکاری با شرکت پرداخت الکترونیک سداد">
                        </div>
                        <div class="columns small-6 medium-3"><img data-tooltip="" aria-haspopup="true"
                                data-options="disable_for_touch:true" class="has-tip"
                                src="https://static.idpay.ir/images/gateway-logo-saman.svg"
                                title="همکاری با شرکت پرداخت الکترونیک سامان کیش"
                                alt="همکاری با شرکت پرداخت الکترونیک سامان کیش"></div>
                        <div class="columns small-6 medium-3"><img data-tooltip="" aria-haspopup="true"
                                data-options="disable_for_touch:true" class="has-tip"
                                src="https://static.idpay.ir/images/gateway-logo-pecco.svg"
                                title="همکاری با شرکت تجارت الکترونیک پارسیان"
                                alt="همکاری با شرکت تجارت الکترونیک پارسیان"></div>
                        <div class="columns small-6 medium-3"><img data-tooltip="" aria-haspopup="true"
                                data-options="disable_for_touch:true" class="has-tip"
                                src="https://static.idpay.ir/images/gateway-logo-behpardakht.svg"
                                title="همکاری با شرکت به پرداخت ملت" alt="همکاری با شرکت به پرداخت ملت">
                        </div>
                    </div>


                    <div class="row footer-content">

                        <section class="block block-menu columns medium-6 block-menu-menu-footer-1">
                            <ul class="menu">
                                <li class="first leaf"><a href="index.htm" class="active">صفحه اصلی</a></li>
                                <li class="leaf"><a href="terms.html">قوانین و شرایط استفاده</a></li>
                                <li class="leaf"><a href="privacy.html">حریم خصوصی</a></li>
                                <li class="leaf"><a href="about.html">درباره ما</a></li>
                                <li class="leaf"><a href="contact.html">تماس با ما</a></li>
                                <li class="last leaf"><a href="faq.html">پرسش های متداول</a></li>
                            </ul>

                        </section>

                        <section class="block block-menu columns medium-6 block-menu-menu-footer-2">
                            <ul class="menu">
                                <li class="first leaf"><a href="https://blog.imenpal.com">بلاگ</a></li>
                                <li class="leaf"><a href="what.html">ایمن پال چیست؟</a></li>
                                <li class="leaf"><a href="banks.html">دریافت شماره شبا</a></li>
                                <li class="leaf"><a href="/web-service">راهنمای API پرداخت</a></li>
                                <li class="leaf"><a href="plugins.html">پلاگین و افزونه های پرداخت</a></li>
                                <li class="last leaf"><a href="app.html">دانلود اپلیکیشن</a></li>
                            </ul>
                        </section>


                    </div>
                </div>

                *@









            </div>
        </footer>
        <footer class="l-copyright clearfix" role="contentinfo">
            <div class="row">
                <div class="copyright columns">
                    <section class="block block-block block-block-6">
                        <div class="row">
                            <div class="columns medium-8">
                                <p>تمامی حقوق مادی و معنوی این سایت متعلق به شرکت <a href="http://www.imenpal.com/"
                                        rel="nofollow" target="_blank">ایمن پال</a> می باشد.</p>
                            </div>
                            <div class="columns medium-4 medium-text-left">
                            
                            </div>
                        </div>
                    </section>
                    <section class="block block-idpay-live-chat block-idpay-live-chat-live-chat"></section>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/HomePageWeb/assets/js/libs.min.js"></script>
    <script src="~/HomePageWeb/assets/js/foundation.min.js"></script>
    <script src="~/HomePageWeb/assets/js/app.min.js"></script>
    <script>jQuery(document).foundation();</script>
    <script src="~/HomePageWeb/assets/js/crisp.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>




    <script>
        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml14 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline()
            .add({

                targets: '.ml14 .line',
                scaleX: [0, 1],
                opacity: [0.5, 1],
                easing: "easeInOutExpo",
                duration: 999
            }).add({
                targets: '.ml14 .letter',
                opacity: [0, 1],
                translateX: [40, 0],
                translateZ: 0,
                scaleX: [0.3, 1],
                easing: "easeOutExpo",
                duration: 800,
                offset: '-=600',
                delay: (el, i) => 150 + 25 * i
            })
    </script>
</body>

</html>