
			<form>
				<div class="row justify-content-md-center">
					<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
						<div class="login-screen">
							<div class="login-box">
								<a href="#" class="login-logo">
									<img src="~/AdminClient/img/logo-dark.png" alt="Wafi Admin Dashboard">
								</a>
								<h5 style="text-align: center;">خوش آمدید,<br>   وارد حساب کاربری   ایمن پال خود شوید</h5>
                                <div class="form-group">
									<input type="text" class="form-control" placeholder="شماره تلفن ">
								</div>
								 
                                 	<a href="#" style="height:169 ; width:53 ; text-align: center;">
									<img src="~/AdminClient/img/KapchaCode.png" alt="Wafi Admin Dashboard">
								</a>

                                 <div class="form-group">
									<input type="text" class="form-control" placeholder=" کد امنیتی را وارد نمایید ">
								</div>

								@* <div class="form-group">
									<div class="input-group">
										<input type="password" class="form-control" placeholder="رمز عبور">
										<input type="password" class="form-control" placeholder="تایید رمز عبور">
									</div>
									<small id="passwordHelpInline" class="text-muted">
										رمز عبور باید 8-20 نویسه داشته باشد.
									</small>
								</div> *@
								<div class="ations mb-4">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input">
										<label class="custom-control-label" for="">مرا به خاطر بسپار</label>
									</div>
									<button style="float: left;"  type="submit" class="btn btn-primary">ارسال کد</button>
								</div>
                                <br>
								<hr>
								<div class="m-0">
									<span class="additional-link">جدید امدید؟  <a href="/AdminClient/Login/signup" class="btn btn-dark">ایجاد حساب</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
