<form>
    <div class="row justify-content-md-center">
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
            <div class="login-screen">
                <div class="login-box">
                    <a href="#" class="login-logo">
                        <img src="~/AdminClient/img/logo-dark.png" alt="Wafi Admin Dashboard">
                    </a>
                    <h5 style="text-align: center;"><br> اطلاعات خود را وارد نمایید</h5>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="نام  ">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="نام خانوادگی  ">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="کد ملی   ">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" disabled placeholder="09038503011   ">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="ایمیل   ">
                    </div>






                    <div class="ations mb-4">
                        <button style="float: left;" type="submit" class="btn btn-primary">ثبت اطلاعات</button>
                    </div>
                    <br>


                </div>
            </div>
        </div>
    </div>
</form>
